<div id="navbar" class="header-navbar">
  <div class="container">
    <a class="header-logo" href="#">
      <img src="assets/images/logo.svg" alt="Angular">
    </a>
    <ul class="nav-items">
      <li class="nav-item"><a href="">Speakers</a></li>
      <li class="nav-item"><a href="">Session</a></li>
      <li class="nav-item"><a href="">Team</a></li>
    </ul>
  </div>
</div>

<div class="body-area">
  <div class="main-bg"></div>
  <div class="banner-section">
    <div class="container">
      <h1 class="title">
        <span class="font-primary font-shadow">Angular Meetup &nbsp; </span> 2019
      </h1>
      <p class="description">
          <strong class="font-primary">#ngMY2019 &nbsp; </strong> is the labour-of-love conference for the Angular community in Bangladesh.
      </p>
      <h2 class="time col-12">
          Dhaka • 5th October, 2019
      </h2>
    </div>
  </div>
  <div class="banner-curve-area"></div>
  <div class="speakers-area">
    <div class="container">
      <h2 class="section-title"><span class="large font-primary font-shadow">S</span>peakers</h2>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="speaker">
            <div class="speaker-info box-shadow-secondary">
              <img src="assets/images/Tanvir.jpg" alt="Speaker">
              <h3 class="font-shadow">Tanvir Rahman</h3>
              <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
              <a class="github font-primary" href="https://github.com/Tanvir-rahman" target="_blank"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a>
              <a class="linkedin font-primary" href="https://www.linkedin.com/in/tanvir-rahman/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon> Linkedin</a>
            </div>
            <p>Tanvir Rahman is a Javascript Enthusiatic who loves logical programming and Data Structures.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="speaker">
            <div class="speaker-info box-shadow-secondary">
              <img src="assets/images/Tanvir.jpg" alt="Speaker">
              <h3 class="font-shadow">Tanvir Rahman</h3>
              <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
              <a class="github font-primary" href="https://github.com/Tanvir-rahman" target="_blank"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a>
              <a class="linkedin font-primary" href="https://www.linkedin.com/in/tanvir-rahman/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon> Linkedin</a>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="speaker">
            <div class="speaker-info box-shadow-secondary">
              <img src="assets/images/Tanvir.jpg" alt="Speaker">
              <h3 class="font-shadow">Tanvir Rahman</h3>
              <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
              <a class="github font-primary" href="https://github.com/Tanvir-rahman" target="_blank"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a>
              <a class="linkedin font-primary" href="https://www.linkedin.com/in/tanvir-rahman/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon> Linkedin</a>
            </div>
            <p>Tanvir Rahman is a Javascript Enthusiatic who loves logical programming and Data Structures.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="speaker">
            <div class="speaker-info box-shadow-secondary">
              <img src="assets/images/Tanvir.jpg" alt="Speaker">
              <h3 class="font-shadow">Tanvir Rahman</h3>
              <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
              <a class="github font-primary" href="https://github.com/Tanvir-rahman" target="_blank"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a>
              <a class="linkedin font-primary" href="https://www.linkedin.com/in/tanvir-rahman/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon> Linkedin</a>
            </div>
            <p>Tanvir Rahman is a Javascript Enthusiatic who loves logical programming and Data Structures.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="curve-speaker-bottom "></div>
  </div>
  <div class="sessions-area">
    <div class="container">
      <h2 class="section-title"><span class="large font-white font-shadow">S</span>essions</h2>
      <div class="row">
        <div class="col-12">
          <div class="table-wrapper">
            <table class="fl-table">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Speakers and Agenda</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p class="time font-primary">8:00 - 8:30</p></td>
                  <td>
                    <div class="content col-12">
                      <div class="topic font-shadow">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      </div>
                      <a href="#" class="speaker font-shadow"> Tanvir Rahman</a>
                      <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><p class="time font-primary">8:30 - 9:00</p></td>
                  <td>
                    <div class="content col-12">
                      <div class="topic font-shadow">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      </div>
                      <a href="#" class="speaker font-shadow"> Tanvir Rahman</a>
                      <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><p class="time font-primary">9:00 - 9:30</p></td>
                  <td>
                    <div class="content col-12">
                      <div class="topic font-shadow">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      </div>
                      <a href="#" class="speaker font-shadow"> Tanvir Rahman</a>
                      <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                    </div>
                  </td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="curve-sessions-bottom"></div>
  </div>
  <div class="sponsors-area">
    <div class="container">
      <h2 class="section-title"><span class="large font-primary font-shadow">S</span>ponsors</h2>
        <div class="sponsors">
          <div class="sponsor box-shadow-primary">
            <a href="#"><img src="assets/images/pathao.png" alt="sponsor"></a>
          </div>
          <div class="sponsor box-shadow-secondary">
            <a href="#"><img src="assets/images/sponsor.png" alt="sponsor"></a>
          </div>
          <div class="sponsor box-shadow-primary">
            <a href="#"><img src="assets/images/pathao.png" alt="sponsor"></a>
          </div>

          <div class="sponsor box-shadow-secondary">
            <a href="#"><img src="assets/images/sponsor.png" alt="sponsor"></a>
          </div>
          <div class="sponsor box-shadow-primary">
            <a href="#"><img src="assets/images/pathao.png" alt="sponsor"></a>
          </div>
          <div class="sponsor box-shadow-secondary">
            <a href="#"><img src="assets/images/sponsor.png" alt="sponsor"></a>
          </div>
        </div>
    </div>
    <div class="curve-sponsors-bottom"></div>
  </div>
  <div class="gallery-area">
    <div class="container">
      <h2 class="section-title"><span class="large font-white font-shadow">L</span>ook &nbsp;<span class="font-white font-shadow">B</span>ack <span class="font-white font-shadow">A</span>t <span class="large font-white font-shadow">17</span></h2>
      <ngx-masonry-gallery [width]="200" [images]="images"></ngx-masonry-gallery>
    </div>
  </div>
  <div class="map-area">
    <div id="map" class="map"></div>
  </div>
</div>


<div class="footer-area">
    <div class="container">
      <a class="footer-logo font-shadow" href="#">
        <img src="assets/images/logo.svg" alt="Angular">
        Angular Meetup 2019
      </a>
      <ul class="nav-items">
        <li class="nav-item">
          <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
        </li>
        <li class="nav-item"><a href="">
          <a class="twitter font-primary" href="https://twitter.com/Tanvir2555" target="_blank"> <fa-icon [icon]="faFacebook"></fa-icon> Facebook</a>
        </a></li>
      </ul>
    </div>
  </div>

<!-- <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>
<img src="assets/images/cover_photo.jpg" alt="CoverPhoto"> -->
